manifest{
    name = 'bbi-sge'
    author = 'Jong Ha Shin'
    homePage = 'https://github.com/bbi/bbi-sge/'
    description = 'Saturation Genome Editing Pipeline'
    mainScript = 'main.nf'
    version = '0.6.5'  

    //manifest.defaultBranch = 'main'
}

profiles {
    standard {
        process {
            beforeScript = 'module load modules modules-init modules-gs python/2.7.13 python/3.7.7 gmp/6.1.2 mpfr/4.0.1 mpc/1.1.0 gcc/8.1.0 bcl2fastq/2.20 fastqc/0.11.7'
            //gs-it to ask to do it
            beforeScript =  '. /etc/profile.d/modules.sh'

            executor = 'sge'
            queue = 'bbi-sge.q'
            clusterOptions = '-l centos=7'
            //errorStrategy = 'finish'
            //maxErrors = 5
            maxForks = 10
            //time = '10d'
            
            //cleanup = true

            withName: bcl2fastq {
                module = 'modules:modules-init:modules-gs:bcl2fastq/2.20'
                cpus = 4
                memory = '16 GB'
            }
            
            withName: fastqc {
                module = 'modules:modules-init:modules-gs:fastqc/0.11.7'
                cpus = 2
                memory = '8 GB'
            }

            withName: seqprep {
                cpus = 2
                memory = '8 GB'
            }

            withName: trimming {
                cpus = 2
                memory = '4 GB'
            }
            
            withName: rnaseq {
                cpus = 2
                memory = '4 GB'
            }
            
            withName: needle {
                cpus = 4
                memory = '16 GB'
            }
            
            withName: cigar_counts {
                cpus = 2
                memory = '4 GB'
            }   

            withName: sam_to_edits {
                cpus = 2
                memory = '4 GB'
            }
            
            withName: annotated_variants {
                cpus = 2
                memory = '4 GB'
            }
        }
    }
}

