manifest{
    name = 'bbi-sge'
    author = 'Jong Ha Shin'
    homePage = 'https://github.com/bbi/bbi-sge/'
    description = 'Saturation Genome Editing Pipeline'
    mainScript = 'main.nf'
    version = '0.9.5'  

    //manifest.defaultBranch = 'main'
}

profiles {
    standard {
        process {
            beforeScript = 'module load modules modules-init modules-gs gmp/6.1.2 mpfr/4.0.1 mpc/1.1.0 gcc/8.1.0 bcl2fastq/2.20 fastqc/0.11.7'
            //gs-it
            beforeScript =  '. /etc/profile.d/modules.sh'

            executor = 'sge'
            //errorStrategy = 'finish'
            //maxErrors = 5
            penv = 'serial'
            maxForks = 10
            queue = 'shendure-long.q'
            clusterOptions = '-P shendure_bbi'
            //time = '10d'
            
            //cleanup = true

            withName: bcl2fastq {
                module = 'modules:modules-init:modules-gs:bcl2fastq/2.20'
                cpus = 8
                memory = '4 GB'
                penv = 'serial'
            }
            
            withName: fastqc {
                module = 'modules:modules-init:modules-gs:fastqc/0.11.7'
                cpus = 4
                memory = '8 GB'
            }
            
            withName: seqprep {
                cpus = 8
                memory = '20 GB'
            }

            withName: trimming {
                module = 'modules:modules-init:modules-gs:python/2.7.13'
                cpus = 2
                memory = '8 GB'
            }
            
            withName: rna_trimming {
                cpus = 2
                memory = '8 GB'
            }
            
            withName: needleall {
                module = 'modules:modules-init:modules-gs:EMBOSS/6.6.0'
                cpus = 8
                memory = '20 GB'
                //memory = '4 GB'
                //penv = 'serial'
            }
            
            withName: cigar {
                cpus = 2
                memory = '8 GB'
            }   

            withName: sam_to_edits {
                cpus = 2
                memory = '8 GB'
            }
            
            withName: annotated_variants {
                cpus = 1
                memory = '4 GB'
            }
        }
    }
}

